body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding: 0;
  max-width: 1920px;
  height: 100vh;
  background-color: rgb(255, 245, 238);
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', monospace;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/static/RobotoMono-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/static/RobotoMono-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 200;
  src: url(./fonts/static/RobotoMono-ExtraLight.ttf) format('ttf');
}